
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    background-color: blanchedalmond;
    font-family: 'Caveat', cursive;
    font-size: large;
    
    
}

/*---Center the 2 player inputs----*/

.container form {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*----Adjust layout of the Begin Button*/

#begin,  #reset {
    margin-top: 20px;
}

/* -----Game Board Display----*/

.game-board {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    
}

.square {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    background-color: white;
}

/*----Footer Display----*/

.footer  {
    display: block;
    height: 60px;
    margin-top: 650px;
      
}

#icon {
    margin-left: 100px;
    float: right;
}



