* {
    margin: auto;

}



body {
    margin-top: 50px;
    background-color: blanchedalmond;
    font-family: 'Lobster', cursive    !important;
    font-size: large;
    
    
}

/*----Adjust layout of the Begin Button*/

#begin {
    margin-top: 20px;
}

/* -----Game Board Display----*/

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    border: 1px solid red;
    border-radius: 2rem;
    height: 500px;
    margin-top: 50px;
    overflow: hidden;
    
}

.grid-item {
    border: 2px solid black;
    height: 100px;
    width: 150px;
}

/*----Footer Display----*/

.footer  {
    display: block;
    height: 60px;
    margin-top: 650px;
      
}

#icon {
    margin-left: 100px;
    float: right;
}



